<div class="home-projects">
    <h2>Recent Projects</h2>
    <div class="home-projects-list">
      {% assign projects = site.posts | sort: 'date' | reverse | limit: 3 %}
      {% for post in projects %}
        <div class="home-project-item">
          {% if post.image %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="project-thumb-link">
              <img src="{{ site.baseurl }}{{ site.imagesurl }}{{ post.image }}" 
                  alt="{{ post.title }}" class="home-project-thumb">
            </a>
          {% endif %}
          <div class="project-content">
            <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
            <p class="project-date">{{ post.date | date: "%B %d, %Y" }}</p>
            <p>{{ post.excerpt | strip_html | truncatewords: 25 }}</p>
            <div class="project-links">
              <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more</a>
              {% if post.github_repo %}
                <a href="{{ post.github_repo }}" class="github-link" target="_blank">GitHub</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="view-all">
      <a href="{{ site.baseurl }}/projects/" class="view-all-link">View all projects</a>
    </div>
  </div>